{
  "extends": [ "plugin:prettier/recommended", "prettier/react", "plugin:react/recommended" ],
  "parser": "babel-eslint",
  "plugins": ["prettier"],
  "rules": {
    "prettier/prettier": [
      "warn",
      {
        "semi": true,
        "printWidth": 80,
        "singleQuote": true,
        "trailingComma": "es5"
      }
    ],
    "strict": 0,
    "comma-dangle": [2, "always-multiline"]
  }
}
